body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-wrapper {
  width: 100%;
  max-width: 1150px;
  margin: auto;
  background-color: #f9f9f9;
  box-shadow: 0 0 25px 0 #000;
}

.button {
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  transition: .4s ease;
  user-select: none;
}

.button:hover {
  cursor: pointer;
  background: #fff;
  color: #111;
  transition: .4s ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* Set the background for the entire site. This
     This will be visible on bigger screens */
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: right center;
}

header {
  text-align: right;
  padding: 25px;
  width: 90%;
  margin: auto;
  border-bottom: 4px solid #006699;
}

header h1 {
  font-size: 60px;
}

header #site-logo {
  width: auto;
  max-height: 100px;
  transition: 0.5s ease;
}

header #site-logo:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

header .header-logo {
  text-align: center;
  margin: 0;
  width: 10%;
  order: 1;
}

header .header-text {
  width: 90%;
  order: 2;
}

.main-content {
  padding: 25px;
}

.main-article {
  background-image: url('../img/photog.jpg');
  background-position: center center;
  background-size: cover;
  padding: 50px;
}

.main-article-cover-text {
  margin-top: 200px;
  max-width: 300px;
  background-color: rgba(15,15,15,0.8);
  display: inline-block;
  color: #fff;
  padding: 15px;
}

.main-article-cover-text p {
  padding: 10px 0px 10px 0px;
}

.page-divider-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.article-hover-overlay.button {
  position: absolute;
  height: auto;
  width: 200px;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
}

.flexible-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flexible-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.featured-article {
  position: relative;
  width: calc(33% - 20px);
  padding: 10px;
  cursor: pointer;
}

.featured-article:hover .article-hover-overlay {
  opacity: 1;
}

.featured-article img {
  width: 100%;
  height: 250px;
}

footer {
  padding: 10px;
  background-color: #111;
  color: #fff;
}


/* MEDIA QUERIES // MOBILE VIEW */

@media screen and (max-width: 600px) {
  .main-article-cover-text {
    text-align: center;
  }
  header {
    width: auto;
  }
  .featured-article {
    width: calc(100% - 20px);
  }

  header .flexible-row {
    flex-direction: column;
  }

  header .header-logo {
    width: 50%;
    margin: auto;
    order: 1;
  }

  header .header-text {
    width: 100%;
    order: 2;
    text-align: center;
  }

}

@media screen and (min-width: 601px) and (max-width: 900px){
  .featured-article {
    width: calc(50% - 20px);
  }
}
